<table class='table table-striped text-center'>
  <tr>
    <td>Task:</td>
    <td><input class=goal value=<%= task.get('goal') %> /></td>
  </tr>
  <tr>
    <td>StartDate:</td>
    <td><input class=start_date value=<%= task.get('start_date') %> /></td>
  </tr>
  <tr>
    <td>EndDate:</td>
    <td><input class=end_date value=<%= task.get('end_date') %> /></td>
  </tr>
  <tr>
    <td>User:</td>
    <td>
      <select class='user_id'>
      <% for(var i=0; i < users.length; i++) {%>
        <option value=<%= users[i].get('id') %> >
          <%= users[i].completeName() %>
        </option>
      <% } %>
      </select>
    </td>
  </tr>
  <tr>
    <td>Completed:</td>
    <td><input type=checkbox class=completed value=<%= task.get('completed') %> /></td>
  </tr>
</table>
<input type=button class='save btn btn-primary' value=Save />
<div class=error></div>