<table class='table table-striped text-center'>
  <tr>
    <td>Task:</td>
    <td><%= get('goal') %></td>
  </tr>
  <tr>
    <td>Start Date:</td>
    <td><%= get('start_date') %></td>
  </tr>
  <tr>
    <td>End Date:</td>
    <td><%= get('end_date') %></td>
  </tr>
  <tr>
    <td>User:</td>
    <td><%= userName() %></td>
  </tr>
  <tr>
    <td>Completed</td>
    <td><%= statusMessage() %></td>
  </tr>
</table>
<a href=#/tasks/<%= get('id') %>/edit class='btn btn-info'>Edit</a>