<table class='table table-striped text-center'>
  <tr>
    <td>Email:</td>
    <td><input class=email value=<%= get('email') %> /></td>
  </tr>
  <tr>
    <td>FirstName:</td>
    <td><input class=firstname value=<%= get('firstname') %> /></td>
  </tr>
  <tr>
    <td>LastName:</td>
    <td><input class=lastname value=<%= get('lastname') %> /></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><input class=phone value=<%= get('phone') %> /></td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td>
      <select class='gender'>
        <option value='Male'>Man</option>
        <option value='Female'>Woman</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><input class=password value=<%= get('password') %> /></td>
  </tr>
</table>
<input type=button class='save btn btn-primary' value=Save />
<div class=error></div>