<td><a href=#/users/<%= get('id') %>><%= get('email') %></a></td>
<td><%= completeName() %></td>
<td><%= get('phone') %></td>
<td><%= get('gender') %></td>
<td>
<a href=#/users/<%= get('id') %>/edit>Edit</a>
<a href=#/users/<%= get('id') %>/delete>Remove</a>
</td>