<span>Email:</span>
<span><%= get('email') %></span>
<span>FirstName:</span>
<span><%= get('firstname') %></span>
<span>LastName:</span>
<span><%= get('lastname') %></span>
<span>Phone:</span>
<span><%= get('phone') %></span>
<span>Gender:</span>
<span><%= get('gender') %></span>
<a href=#/users/<%= get('id') %>/edit>Edit</a>