<table class='table table-striped text-center'>
  <tr>
    <td>Email:</td>
    <td><%= get('email') %></td>
  </tr>
  <tr>
    <td>FirstName:</td>
    <td><%= get('firstname') %></td>
  </tr>
  <tr>
    <td>LastName:</td>
    <td><%= get('lastname') %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= get('phone') %></td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td><%= get('gender') %></td>
  </tr>
</table>
<a href=#/users/<%= get('id') %>/edit class='btn btn-info'>Edit</a>